# 归一化处理

## author 张念

In [29]:
from sklearn.preprocessing import scale
import pandas as pd
import numpy as np

pd.options.display.float_format = '{:.0f}'.format
pd.set_option('display.max_columns',100)
df=pd.read_csv('20180105_result.csv',encoding='gbk')
# 列出前五行
df.head()

,CALLING_NUM,MEAN_INTERVAL_CALL,SD_INTERVAL_CALL,NUM_CALL,MEAN_DURATION,MOST_DURATION,MOST_DURATION_NUM,SD_DURATION,TOTAL_DURATION,TRK_NUM
0,2195511,2,0,3,66,66,1,33,192,1
1,2195516,24,18,3,252,216,1,99,870,2
2,2410016,1440,0,1,6,6,1,0,6,1
3,4699417,3,0,2,90,42,1,68,180,1
4,5006013,5,0,2,63,42,1,30,126,1

In [62]:
data = df[["MEAN_INTERVAL_CALL","SD_INTERVAL_CALL","NUM_CALL","MEAN_DURATION",
 "MOST_DURATION","MOST_DURATION_NUM","SD_DURATION","TOTAL_DURATION","TRK_NUM"]]
data = scale(data)

ndf = pd.DataFrame(data,columns=["MEAN_INTERVAL_CALL","SD_INTERVAL_CALL","NUM_CALL","MEAN_DURATION",
 "MOST_DURATION","MOST_DURATION_NUM","SD_DURATION","TOTAL_DURATION","TRK_NUM"],dtype='float64',)

ndf["CALLING_NUM"] = df["CALLING_NUM"]

ndf.to_csv('scale.csv',index=False)

In [18]:
from sklearn.cluster import KMeans

In [19]:
km = KMeans(n_clusters=3).fit(data)

In [20]:
df["scaled_cluster"] = km.labels_
df.sort_values("scaled_cluster")

,CALLING_NUM,MEAN_INTERVAL_CALL,SD_INTERVAL_CALL,NUM_CALL,MEAN_DURATION,MOST_DURATION,MOST_DURATION_NUM,SD_DURATION,TOTAL_DURATION,TRK_NUM,scaled_cluster
0,2195511,2,0,3,66,66,1,33,192,1,0
235356,18092733270,2,0,2,189,318,1,182,378,1,0
90710,13842600336,38,160,4,387,366,1,253,1572,1,0
90709,13842600222,3,0,2,168,156,1,17,336,1,0
235358,18092736002,59,53,10,57,54,3,21,654,2,0
90701,13842572888,8,0,2,333,258,1,106,666,2,0
90699,13842569821,657,0,2,147,114,1,47,294,2,0
90698,13842565016,3,1,4,153,192,2,55,582,2,0
90697,13842561337,4,0,2,96,84,1,17,192,2,0
90696,13842560100,5,0,2,141,126,1,21,282,1,0
90694,13842558168,8,0,2,111,114,1,4,222,2,0
90692,13842547990,5,6,9,72,72,2,90,948,2,0
235368,18092776280,118,0,2,126,192,1,93,252,2,0
90690,13842543166,3,0,2,141,102,1,55,282,1,0
90689,13842541975,157,8,3,72,84,1,15,210,2,0
235373,18092814331,2,0,2,84,42,1,59,168,1,0
235375,18092859806,1,0,2,90,180,1,127,180,1,0
90681,13842527912,2,0,2,150,78,1,102,300,2,0
235377,18092861685,18,6,5,198,198,2,231,1536,2,0
90676,13842517579,2,2,3,48,36,1,108,312,1,0
235381,18092914582,168,164,3,216,216,1,120,648,1,0
90672,13842503567,3,1,3,180,180,1,105,558,1,0
235353,18092707877,2,0,2,45,78,1,47,90,2,0
90670,13842493897,6,51,4,264,30,1,126,858,2,0
90720,13842611857,7,0,2,264,348,1,119,528,1,0
90724,13842618740,8,82,4,126,312,1,124,576,1,0
90763,13842662862,15,0,2,228,270,1,59,456,2,0
90761,13842658942,23,0,2,162,132,1,42,324,1,0
90760,13842658922,17,4,3,132,252,1,77,492,1,0
235315,18092562205,10,0,2,99,42,1,81,198,1,0
...,...,...,...,...,...,...,...,...,...,...,...
201122,15935923074,1440,0,1,300,300,1,0,300,1,2
57249,13578654084,1440,0,1,348,348,1,0,348,1,2
264956,18553127782,1440,0,1,246,246,1,0,246,1,2
130226,15092108892,1440,0,1,414,414,1,0,414,1,2
264960,18553139029,117,0,2,306,270,1,51,612,1,2
130228,15092120868,1440,0,1,444,444,1,0,444,1,2
264962,18553152729,1440,0,1,1092,1092,1,0,1092,1,2
201115,15935907997,1440,0,1,240,240,1,0,240,1,2
264966,18553159573,1440,0,1,276,276,1,0,276,1,2
57241,13578626888,1440,0,1,954,954,1,0,954,1,2
264969,18553166340,1440,0,1,264,264,1,0,264,1,2
57237,13578615791,1440,0,1,558,558,1,0,558,1,2
264973,18553185080,1440,0,1,336,336,1,0,336,1,2
57228,13578599127,1440,0,1,258,258,1,0,258,1,2
264979,18553211398,1440,0,1,312,312,1,0,312,1,2
57225,13578576478,1440,0,1,240,240,1,0,240,1,2
264982,18553215210,1440,0,1,408,408,1,0,408,1,2
57223,13578572857,1440,0,1,270,270,1,0,270,1,2
264984,18553217300,1440,0,1,234,234,1,0,234,1,2
264985,18553218491,1440,0,1,228,228,1,0,228,1,2
201106,15935898035,1440,0,1,252,252,1,0,252,1,2
264987,18553221771,1440,0,1,432,432,1,0,432,1,2
57218,13578551969,1440,0,1,276,276,1,0,276,1,2
264991,18553228598,1440,0,1,408,408,1,0,408,1,2
57211,13578534712,1440,0,1,402,402,1,0,402,1,2
57209,13578528708,1440,0,1,480,480,1,0,480,1,2
264998,18553238374,1440,0,1,222,222,1,0,222,1,2
130250,15092188895,1440,0,1,330,330,1,0,330,1,2
57148,13573962355,1440,0,1,294,294,1,0,294,1,2
83021,13802126705,5,0,2,279,282,1,4,558,1,2

In [21]:
df.groupby("scaled_cluster").mean()

,CALLING_NUM,MEAN_INTERVAL_CALL,SD_INTERVAL_CALL,NUM_CALL,MEAN_DURATION,MOST_DURATION,MOST_DURATION_NUM,SD_DURATION,TOTAL_DURATION,TRK_NUM
scaled_cluster,,,,,,,,,,
0,34532748718,41,23,3,137,150,1,95,412,1
1,150180813604,1276,0,1,85,85,1,2,93,1
2,63390507776,1389,0,1,347,348,1,3,363,1